In [1]:
import os

In [2]:
POSTGRESQL_HOST = '10.129.0.25'

In [3]:
CONNECT_DATA = 'postgresql://{}:{}@{}/{}'.format(
    os.environ['POSTGRESQL_USER'],
    os.environ['POSTGRESQL_PASSWORD'],
    POSTGRESQL_HOST,
    'demo'
)

In [4]:
%load_ext sql

In [5]:
%%sql $CONNECT_DATA
SELECT 
    d.DEPARTMENT_NAME,
    m.FIRST_NAME || ' ' || m.LAST_NAME AS MANAGER_NAME,
    COUNT(e.EMPLOYEE_ID) AS NUM_EMPLOYEES
FROM 
    Departments d
JOIN 
    Employees m ON d.MANAGER_ID = m.EMPLOYEE_ID
LEFT JOIN 
    Employees e ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
GROUP BY 
    d.DEPARTMENT_NAME, 
    m.FIRST_NAME, 
    m.LAST_NAME
ORDER BY 
    d.DEPARTMENT_NAME;

4 rows affected.

[('Executive', 'Steven King', 3),
 ('Finance', 'Nancy Greenberg', 2),
 ('IT', 'Alexander Hunold', 2),
 ('Purchasing', 'Den Raphaely', 3)]